<style type="text/css">
  .top_level {
    position: absolute;
    top: 0vh; /* BOX PANEL */
    left: 6px;
    height: 160px;
    width: 168px;
    z-index: 20;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 9.2pt;
    color: #FFF;
    font-weight: bold;
    text-align: left;
  }


.top_level div {
  position:absolute;
  display:flex;
  top:6vh;
}

  #Topbar a {
    text-decoration: none;
    margin-top: 5px
  }

  .online {
    color: #008000;
  }

  .offline {
    color: #FF0000;
  }

  a.topfont {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    position: relative;
    margin-left: 50px; /* Ajuste o valor conforme necessário para posicionar os jogadores mais para a direita */
    margin-top:50px;
  }

  a:hover.topfont {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #5f4d41;
    text-decoration: none;
  }
</style>

<div id="Topbar" class="Themebox">
  <div class="top_level" style="background:url({{ template_path }}/images/themeboxes/bg_top.png); background-size: contain; background-repeat: no-repeat; height: 300px; ">
    {% for player in topPlayers %}
      
      <div style="text-align: left; position: relative;">
      
        <a href="{{ getPlayerLink(player['name'], false) }}" class="topfont {% if player['online'] %}online{% else %}offline{% endif %}">
          {% if config.online_outfit %}
            <img style="position:absolute; top: 0%; left: -83; transform: translate(0, -50%); {% if player.looktype in [75, 266, 302] %}width: 60px; height: 60px;{% else %}width: 80px; height: 80px;{% endif %}" src="{{ player.outfit }}" alt="player outfit"/>
          {% endif %}
          <span>{{ player['name'] }}</span>
          <br>
          <small><span style="color: #5f4d41;">Level: ({{ player['level'] }})</span></small>
          <br>
        </a>
      </div>
    {% endfor %}
  </div>
</div>
<br/><br/><br/>